<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--header start-->
<body>
<header id="header" th:fragment="header">
    <div class="container">

        <div class="navbar-header">
            <!-- Logo -->
            <div class="navbar-brand">
                <a class="logo" href="/">
                    <img src="/static/assets/img/logo.png" alt="logo">
                </a>
            </div>
            <!-- /Logo -->

            <!-- Mobile toggle -->
            <button class="navbar-toggle">
                <span></span>
            </button>
            <!-- /Mobile toggle -->
        </div>

        <!-- Navigation -->
        <nav id="nav">
            <!--dynamic menu-->
            <ul class="main-menu nav navbar-nav navbar-right" th:each="menu : ${menus}">
                <li><a href="#" th:text="${menu}"></a></li>
            </ul>
        </nav>
        <!-- /Navigation -->

    </div>
</header>
</body>


</html>
