<!DOCTYPE html>
<html lang="en" xmlns="http:/www.w3.org/1999/xhtml"
      xmlns:layout="http:/www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<!--header start-->
<body>

<div layout:fragment="content">

    <div class="container">

        <!-- row -->
        <div class="row">

            <!-- main blog -->
            <div id="main" class="col-md-9">

                <!-- blog post -->
                <div class="blog-post">
                    <p>An aeterno percipit per. His minim maiestatis consetetur et, brute tantas iracundia id sea. Vim tota nostrum reformidans te. Nam ad appareat mediocritatem, mediocrem similique usu ex, scaevola invidunt eu sed.</p>
                    <p>Reque admodum praesent ei nec. Ad eius phaedrum conclusionemque cum, pri cu suas essent saperet. No vero ludus habemus qui. Per ex errem torquatos, eam in tale sumo mentitum. Cum nulla viderer no. Pri id antiopam volutpat evertitur, in vidit interpretaris nec.</p>
                    <p>Te option apeirian corrumpit nec, has et tollit minimum molestie. Nam et justo everti, tale repudiandae cu nec. Aliquip legendos evertitur ne sit, mazim sadipscing sea ei. Sea no facete probatus vulputate, ex pri reque tempor. Odio adolescens ius te, docendi suscipit indoctum at qui.</p>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    </blockquote>
                    <p>An aeterno percipit per. His minim maiestatis consetetur et, brute tantas iracundia id sea. Vim tota nostrum reformidans te. Nam ad appareat mediocritatem, mediocrem similique usu ex, scaevola invidunt eu sed.</p>
                    <p>Reque admodum praesent ei nec. Ad eius phaedrum conclusionemque cum, pri cu suas essent saperet. No vero ludus habemus qui. Per ex errem torquatos, eam in tale sumo mentitum. Cum nulla viderer no. Pri id antiopam volutpat evertitur, in vidit interpretaris nec.</p>
                    <p>Te option apeirian corrumpit nec, has et tollit minimum molestie. Nam et justo everti, tale repudiandae cu nec. Aliquip legendos evertitur ne sit, mazim sadipscing sea ei. Sea no facete probatus vulputate, ex pri reque tempor. Odio adolescens ius te, docendi suscipit indoctum at qui.</p>
                </div>
                <!-- /blog post -->

                <!-- blog share -->
                <div class="blog-share">
                    <h4>Share This Post:</h4>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                </div>
                <!-- /blog share -->

                <!-- /blog comments -->
            </div>
            <!-- /main blog -->

            <div id="aside" class="col-md-3">
                <div class="widget search-widget">
                    <form>
                        <input class="input" type="text" name="search">
                        <button><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="widget category-widget">
                    <h3>Categories</h3>
                    <a class="category" href="#">Web <span>12</span></a>
                    <a class="category" href="#">Css <span>5</span></a>
                    <a class="category" href="#">Wordpress <span>24</span></a>
                    <a class="category" href="#">Html <span>78</span></a>
                    <a class="category" href="#">Business <span>36</span></a>
                </div>
                <!-- /category widget -->

                <!-- posts widget -->
                <div class="widget posts-widget">
                    <h3>Recents Posts</h3>

                    <!-- single posts -->
                    <div class="single-post">
                        <a class="single-post-img" href="/detail">
                            <img src="/static/assets/img/post01.jpg" alt="">
                        </a>
                        <a href="/detail">Pro eu error molestie deserunt.</a>
                        <p><small>By : John Doe .18 Oct, 2017</small></p>
                    </div>
                    <!-- /single posts -->

                    <!-- single posts -->
                    <div class="single-post">
                        <a class="single-post-img" href="/detail">
                            <img src="/static/assets/img/post02.jpg" alt="">
                        </a>
                        <a href="/detail">Pro eu error molestie deserunt.</a>
                        <p><small>By : John Doe .18 Oct, 2017</small></p>
                    </div>
                    <!-- /single posts -->

                    <!-- single posts -->
                    <div class="single-post">
                        <a class="single-post-img" href="/detail">
                            <img src="/static/assets/img/post03.jpg" alt="">
                        </a>
                        <a href="/detail">Pro eu error molestie deserunt.</a>
                        <p><small>By : John Doe .18 Oct, 2017</small></p>
                    </div>
                    <!-- /single posts -->

                </div>
                <!-- /posts widget -->

                <!-- tags widget -->
                <div class="widget tags-widget">
                    <h3>Tags</h3>
                    <a class="tag" href="#">Web</a>
                    <a class="tag" href="#">Photography</a>
                    <a class="tag" href="#">Css</a>
                    <a class="tag" href="#">Responsive</a>
                    <a class="tag" href="#">Wordpress</a>
                    <a class="tag" href="#">Html</a>
                    <a class="tag" href="#">Website</a>
                    <a class="tag" href="#">Business</a>
                </div>
            </div>

        </div>
        <!-- row -->

    </div>
</div>


</body>


</html>
